.defaultBtn {
	margin-top: 23px;
}
.defaultBtn input[type="checkbox"] {
	width: 0;
	height: 0;
	display: none;
	visibility: hidden;
}
.defaultBtn label {
	width: 240px;
	height: 52px;
	display: block;
	cursor: pointer;
	position: relative;
}
.defaultBtn label span {
	top: 13px;
	z-index: 2;
	right: 57px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	text-transform: uppercase;
}
.defaultBtn label::before {
	content: "";
	width: 130px;
	height: 52px;
	margin-left: 12px;
	display: block;
	border-radius: 35px;
	background-color: #122433;
	background-size: 50px 110px;
	background-position: 5px 0px;
	background-repeat: no-repeat;
	background-image: url(https://i.ibb.co/HpMQBCz/checkmark.png);
}
.defaultBtn label::after {
	content: "";
	top: 0;
	right: 18px;
	width: 157px;
	height: 52px;
	position: absolute;
	border: 0.2rem solid #64ef65;
	border-radius: 35px;
	background: linear-gradient(to bottom, #53d853 0%, #0f860f 100%);
}
input[type="checkbox"]:checked + label::before {
	animation-name: switchBgColorDefault;
	animation-fill-mode: forwards;
	animation-duration: 0.25s;
	animation-timing-function: steps(1);
}

input[type="checkbox"]:checked + label::after,
input:checked + label span {
	animation-name: switchColorDefault;
	animation-duration: 0.25s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

input[type="checkbox"].active:checked + label::before {
	animation-name:switchOriginalcolor;
}
input[type="checkbox"]:checked + label::before {
	animation-name:switchBgColorDefault;
}
input[type="checkbox"] + label::before {
	animation-name:switchOriginalcolor;
}
input + label::after, input + label span{
	transform: translateX(0px);
}
#reDirect {
	
	outline: none;
	width: 100%;
}
@keyframes switchOriginalcolor {
	0% {
		background-position: 8px -55px;
		background-color: #007236;
	}

	100% {
		background-position: 5px 0px;
		background-color: #122433;
	}
}

@keyframes switchBgColorDefault {
	0% {
		background-position: 5px 0px;
	}

	100% {
		background-position: 8px -55px;
		background-color: #007236;
	}
}

@keyframes switchColorDefault {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-70px);
	}
	100% {
		transform: translateX(0);
	}
}